/*
    #f8f9fd - component background - color
    #3547ac - Medium Purple
    #3546aa - Hover Purple
    #dce2f4 - light Purple
    #f1582f - orange
    #ffffff - background
    #0e1455 - text Deep purple color

*/

.jumbotron {
    background-image: url("../../Content/Image/JumboBg.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.TableComponentContainer {

    height: 400px;
    background: #f8f9fd;
    overflow-y: scroll;
    
}
