@{ 
    <link type="text/css" rel="stylesheet" href="~/Content/Index/Charts.css" />
}

<div class="col-xs-12 col-md-6 chartContainers">
    <div id="MonthlySummaryContainer" style="height: 370px; width: 100%;"></div>
</div>

<div class="col-xs-12 col-md-6 chartContainers">
    <div id="YearlySummaryContainer" style="height: 370px; width: 100%;"></div>
</div>



<div class="col-xs-12 col-md-6 chartContainers">
    <div id="MonthlyCategoriesChartContainer" style="height: 370px; width: 100%;"></div>
</div>

<div class="col-xs-12 col-md-6 chartContainers">
    <div id="YearlyCategoriesChartContainer" style="height: 370px; width: 100%;"></div>
</div>






