<div class="col-xs-12 col-md-12 TableComponentContainer SplitContainer">
    <h3 class="text-center TextColor">Split Expenses</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="TableHeaderSplit">Title</th>
                <th scope="col" class="TableHeaderSplit">Date</th>
                <th scope="col" class="TableHeaderSplit">Description</th>
                <th scope="col" class="TableHeaderSplit">Category</th>
                <th scope="col" class="TableHeaderSplit">Amount</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Mark</td>
                <td>Otto</td>


            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Mark</td>
                <td>Otto</td>


            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Mark</td>
                <td>Otto</td>


            </tr>
        </tbody>
    </table>
</div>

