<div class="col-xs-12 col-md-6 TableComponentContainer">
    <h3 class="text-center TextColor">Variables Expenses</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="TableHeaderVariable">Title</th>
                <th scope="col" class="TableHeaderVariable">Date</th>
                <th scope="col" class="TableHeaderVariable">Description</th>
                <th scope="col" class="TableHeaderVariable">Category</th>
                <th scope="col" class="TableHeaderVariable">Amount</th>
                <th scope="col" class="TableHeaderVariable">Split?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>Mark</td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>Mark</td>

            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>Mark</td>

            </tr>
        </tbody>
    </table>
</div>
