@model DuoBudget.Models.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Home Page";
    <link type="text/css" rel="stylesheet" href="~/Content/Index/Index.css" />
}


<div class="row jumbotron">
    <div class="col-xs-12 col-md-6" id="MonthlySumaryContainer">
        <h2>Monthly Summary:</h2>
        <h3 class="TextColor">June: $8450</h3>
        <h4 class="TextColor">10000 - 2000 + 450</h4>
        <button class="btn btn-primary btn-lg ButtonComponent" data-toggle="modal" data-target="#IncomeModal">View/Edit</button>
    </div>

    <div class="col-xs-12 col-md-6" id="YearlySumaryContainer">
        <h2>Yearly Summary:</h2>
        <h3 class="TextColor">2022: $8450</h3>
        <h4 class="TextColor">10000 - 2000 + 450</h4>
        <button type="button" class="btn btn-primary btn-lg ButtonComponent" style="visibility: hidden;" data-toggle="modal" data-target="#IncomeModal">View/Edit</button>
    </div>


</div>
<div class="row" id="secondNavBar">
    <i class="fa fa-file-text-o navIcon active"></i>
    <i class="fa fa-pie-chart navIcon"></i>
    <i class="fa fa-star-o navIcon"></i>
    <i class="fa fa-calendar-o navIcon"></i>
</div>

<div class="row" id="BudgetSheetRow">
    <div class="col-xs-12 col-md-6 TableComponentContainer">
        <h3 class="text-center TextColor BudgetSheeTitle" data-toggle="modal" data-target="#VariableExpenseModal">Variables Expenses <i class="fa fa-edit fa-1x"></i></h3>
        @Html.Partial("~/Views/Home/Index/_VariableExpenseTable.cshtml", Model)
    </div>
    <div class="col-xs-12 col-md-6 TableComponentContainer">
        <h3 class="text-center TextColor BudgetSheeTitle" data-toggle="modal" data-target="#FixedExpenseModal">Fixed Expenses <i class="fa fa-edit fa-1x"></i></h3>
        @Html.Partial("~/Views/Home/Index/_FixedExpenseTable.cshtml", Model)
    </div>

    <div class="col-xs-12 col-md-12 TableComponentContainer SplitContainer">
        <h3 class="text-center TextColor BudgetSheeTitle" data-toggle="modal" data-target="#SplitExpenseModal">Split Expenses <i class="fa fa-edit fa-1x"></i></h3>
        @Html.Partial("~/Views/Home/Index/_SplitExpenseTable.cshtml", Model)
    </div>

    </div> <!--End BUdgetsheet-->


    @Html.Partial("~/Views/Shared/_Modals.cshtml", Model)
